*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif ;
    vertical-align :top;
}
    img {
        width: 100%;
        vertical-align: top;
    }
    .flex{
        display: flex;
    } 
    body{
        margin: 0;
    }
    figure{
        margin: 0;
    /**Header**/
    }
    header img{
        position: relative;
        height: 60px;
        width: 95px;
        padding-left: 10px;
    }
    nav{
        width: 100%;
        align-items: flex-end;
    }
    .nav{
        width: 100%;
        display: flex;
        justify-content: space-evenly ;

    }
    a{
        text-decoration: none;
        color: black;
    }
    .container {
        margin: 20px 0;
        position: relative;
        width: 100%;
    }
    .image {
        display: block;
        width: 100%;
        height: auto;
    }
    .overlay {
        position: absolute; 
        bottom: 0; 
        background: rgb(0, 0, 0);
        background: rgba(8, 112, 39, 0.5); /* Black see-through */
        color: #f1f1f1; 
        width: 100%;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .overlay p{
        margin-left: 10px;
    }
    .overlay a{
        width: 115px;
        height: 35px;
        text-decoration: none;
        color: white;
        background-color: #76B900;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }
    /**Main**/
    .title{
        margin: 20px 0;
    }
    .title img{
        width: 30px;
        height: 30px;
        border: solid 1px black;
        border-radius: 5px;
        justify-content: center;
        margin-left: 10px;
    }
    h2{
        margin: 0 10px;
    }
    main{
        justify-content: space-between;
    }
    main p{
        margin: 0 10px;
    }
    .description{
        width: 80%;
    }
    /**Aside**/
    aside{
        width: 30%;
        background-color: #76B900;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        color: white;
    }
    aside img{
        width: 30%;
        margin: 20px 0;
    }
    .textaside{
        text-align: left;
    }
    .social{
        width: 80%;
        margin-top: 30px;
        font-size: 30px;
        justify-content: space-evenly;
    }
    /**Separation Main-Footer**/
    .separation{
        border-top: 1px solid #76B900;
        justify-content: center;
    }
    .triangle{
        display : inline-block;
        height : 0;
        width : 0;
        border-top : 18px solid #76B900;
        border-right : 12px solid transparent;
        border-left : 12px solid transparent;
    }
    /**Footer**/
    footer{
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
    }
    footer section{
        width : 100%;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    h4{
        margin-bottom: 0;
    }
    input[type=text] {
        width: 60%;
        padding: 10px 5px;
        margin: 0;
        border-radius: 1;
    }
    input[type=submit]{
        width: 30%;
        padding: 8px 5px;
        margin: 5px 0;
        border: none;
        color: white;
        font-weight: bold;
        background-color: #76B900;
    }
    .gallery figure{
        width: 100%;
        padding: 0 2px;
    }
    .partners{
        align-items: center;
    }
    .partners figure{
        width: 100%;
        padding: 0 2px;
    }
    /**Partie responsive**/

@media screen and (max-width: 1024px) { /**Tablette**/
    main{
        flex-direction: column;
    }
    .description{
        width: 100%;
        margin-bottom: 20px ;
    }
    aside{
        width: 100%;
    }
    footer{
        flex-direction: column;
    }

}

@media screen and (max-width: 600px){ /**Mobile**/
    /** Partie nav**/
    nav div {
        display: none;
    }
    nav .burger{
        display: block;
        border: 1px solid #000000;
        width: 48px;
        height: 48px;
        padding: 5px;
        left: 40%;
        top : 5px;
    }
    nav .burger {
        position: relative;
        z-index: 80;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    nav .burger span{
        display: block;
        width: 100%;
        height: 3px;
        background-color: #000000;
    }
    .visible{
        display: block;
        position: absolute;
        background-color: #75b900f4;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 150px;
    }
    .visible a{
        font-size: 50px;
        color: rgb(255, 255, 255);
    }
}